@import url('https://fonts.googleapis.com/css?family=Cabin:400,600|Comfortaa:700|Cuprum:700|Hind+Siliguri:600|Quicksand');

.v-tabs__item {
  text-transform: none !important;
}

.v-btn__content span {
  text-transform: none !important;
}
button.btn {
  text-transform: none;
}
a.btn {
  text-transform: none;
}
.ql-league-table {
  font-size: 14px;
}
.ql-league-table caption {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.ql-league-table td {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
  border-right: 0.5px solid rgba(0, 0, 0, 0.25);
  padding-right: 2px;
}
.ql-league-table th {
  border-bottom: 0.5px solid rgba(241, 217, 217, 0.5);
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
}
.ql-league-table .num {
  min-width: 2em;
  text-align: right;
}

.ql-fixtures-simple .inline-details {
  font-style: italic;
  padding-right: 0.5em;
  color: darkblue;
}
.ql-fixtures-simple .home {
  text-align: right;
  padding-right: 1em;
}
.ql-fixtures-simple .away {
  padding-left: 1em;
}

.ql-results-simple,
.ql-fixtures-simple .winner {
  color: darkred;
  font-weight: 600;
}
.ql-results-simple,
.ql-fixtures-simple .score {
  font-weight: 500;
}
.ql-calendar .panel-component .view-btn {
  top: -13px;
}

.page-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 200% !important;
  font-weight: bold;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
.page-header-first {
  color: #202020;
  text-shadow: 0 0 2px #dfdfdf;
  transition: all 1s ease-out;
}
.page-header-rest {
  color: #dfdfdf;
  text-shadow: 0 0 2px #0c0c0c;
  transition: all 1s ease-out;
}

.page-header-small {
  font-family: 'Quicksand', sans-serif;
  font-size: 150% !important;
  font-weight: bold;
}

.page-header:hover .page-header-first {
  color: #dfdfdf;
  text-shadow: 0 0 2px #0c0c0c;
}

.page-header:hover .page-header-rest {
  color: #202020;
  text-shadow: 0 0 2px #dfdfdf;
}

.roll-of-honour td {
  padding-left: 2em !important;
}

.roll-of-honour th {
  text-align: left;
  padding-left: 2em;
}

.my-event {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  background-color: #1867c0;
  color: #ffffff;
  border: 1px solid #1867c0;
  width: 100%;
  font-size: 12px;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 1px;
}
.my-event span {
  padding-bottom: 8px;
  vertical-align: middle;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.height-enter-active,
.height-leave-active {
  transition: height 0.5s;
  height: 5em;
  overflow: hidden;
}
.height-enter, .height-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0;
  overflow: hidden;
}

.frame-background {
  background-image: linear-gradient(
      to top right,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url('img/old-amersham.jpg');
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
}

.subtitle-background {
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}
